# Application Configuration
DATABASE_URL=postgresql://postgres:postgres@db:5432/secyourflow

# Auth Secrets
AUTH_SECRET=changeme_in_production
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=changeme_in_production

# Optional Integrations (Fill as needed)
REDIS_URL=redis://localhost:6379

GitHub_ID=
GitHub_SECRET=
Google_ID=
Google_SECRET=

# Email
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=

PORT=3000
HOSTNAME=0.0.0.0
